<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('portfolio')">
</head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <ul>
        <li>
            <div class="position project-box project-link l-item">
                <span class="symbol">symbol</span>
                <span class="quantity">quantity</span>
                <span class="last-price">last price</span>
                <span class="market-value">market value</span>
            </div>
        </li>
        <li th:each="position : ${equities}">
            <div class="position project-box project-link l-item">
                <span class="symbol">
                    <a class="name" name="symbol" th:href="@{|/orderForm/${position.symbol}|}" th:text="${position.symbol}">AAPL</a>
                </span>
                <span class="quantity" th:text="${position.quantity}">quantity</span>
                <span class="last-price" name="price">0</span>
                <span class="market-value">0</span>
            </div>
        </li>
        <li th:each="position : ${options}">
            <div class="position project-box project-link l-item">
                <span class="symbol">
                    <a class="name option-symbol" name="symbol" th:href="@{|/orderForm/${position.symbol}|}" th:text="${position.symbol}">SPY200808P0031600</a>
                </span>
                <span class="quantity" th:text="${position.quantity}">quantity</span>
                <span class="last-price" name="price">0</span>
                <span class="market-value">0</span>
            </div>
        </li>
    </ul>
    <div class="position project-box project-link l-item" style="border: none;">
        <span style="text-align: left; width: 50%;">Balance</span>
        <span style="text-align: right; width: 50%;" id="balance" th:text="${balance}">0</span>
    </div>
    <div class="position project-box project-link l-item" style="border: none;">
        <span style="text-align: left; width: 50%;">Total Market Value</span>
        <span style="text-align: right; width: 50%;" id="total-mv" th:text="${mv}">0</span>
    </div>
    <div class="position project-box project-link l-item" style="border: none;">
        <span style="text-align: left; width: 50%;">Net Equity</span>
        <span style="text-align: right; width: 50%;" id="net-equity" th:text="${net_equity}">0</span>
    </div>
    <div class="position project-box project-link l-item" style="border: none;">
        <button type="button" style="border: none; width: 200px;" onclick="deposit()">
            Make Deposit
        </button>
        <script>
            function deposit() {
              var token = $("meta[name='_csrf']").attr("content");
              var header = $("meta[name='_csrf_header']").attr("content");
              console.log(token);
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                 document.getElementById("balance").innerHTML = this.responseText;
                }
              };
              var amount = prompt("deposit amount: ");
              alert(`You've deposited $${amount}.`);
              xhttp.open("POST", "/deposit", true);
              xhttp.setRequestHeader("Amount", amount);
              //POST request must add csrf token in header, otherwise will get 403 forbidden
              xhttp.setRequestHeader(header, token);
              xhttp.send();
            }
        </script>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/assets/js/quote.js}"></script>
</body>
</html>